.breadcrumb__copyright {
  margin-top: 60px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb__copyright b {
  font-size: 1.2rem;
  color: #666666;
  vertical-align: middle;
}

.breadcrumb__copyright img {
    vertical-align: middle;
    width: 64px;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #002D42;
  cursor: pointer;
}

#sidebar .openstack-dashboard > a:focus,
#sidebar .openstack-panel > a:focus,
#sidebar .nav-header > a:focus {
  background-color: #002D42;
  color: #fff;
  outline: 0;
}

.container-login-img {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap-login {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.login-pic {
    width: 60%;
}

.img {
    background-image: url("../../../static/dashboard/img/cloudpoint-bg.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 992px) {
  .login-pic {
    width: 50%;
  }
  .container-login {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login-pic {
    display: none;
  }
  .container-login {
    width: 100%;
  }
}
