body {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(-45deg, #020024, #1c385a, #146488, #09a0c8, #00d4ff);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 1000px
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
html,body:not(#splash) {
    height: 100%;
    background: white;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #244567;
  cursor: pointer;
}

#sidebar .openstack-dashboard > a:focus,
#sidebar .openstack-panel > a:focus,
#sidebar .nav-header > a:focus {
  background-color: #244567;
  color: #fff;
  outline: 0;
}

.navbar-brand img {
    height: 50px;
}

.breadcrumb__copyright {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb__copyright b {
  font-size: 1.2rem;
  color: #fff;
  vertical-align: middle;
}

.breadcrumb__copyright img {
    vertical-align: middle;
    width: 64px;
}

