body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: 400% 400%;
}

html,body:not(#splash) {
    height: 100%;
    background: white;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #244567;
  cursor: pointer;
}

#sidebar .openstack-dashboard > a:focus,
#sidebar .openstack-panel > a:focus,
#sidebar .nav-header > a:focus {
  background-color: #244567;
  color: #fff;
  outline: 0;
}

.navbar-brand img {
    height: 50px;
}

.breadcrumb__copyright {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb__copyright b {
  font-size: 1.2rem;
  vertical-align: middle;
}

.breadcrumb__copyright img {
    vertical-align: middle;
    width: 64px;
}

