{% extends 'auth/_login_form.html' %}
{% load i18n %}

{% block pre_login %}
  <div class="container-login-img">
    <div class="wrap-login">
      <div class="login-pic">
        <div class="img"></div>
      </div>
  <div class="container login col-xs-11 col-md-5">
    <div class="row col-xs-12 col-md-8">
      <div class="col-xs-12 horizontal-center">
        {{ block.super }}
{% endblock %}

{% block login_header %}
  {% include 'auth/_splash.html' %}
  {{ block.super }}
{% endblock %}

{% block login_footer %}
  {{ block.super }}
  {% include '_login_form_footer.html' %}
{% endblock %}

{% block post_login %}
      {{ block.super }}
      </div>
    </div>
  <div class="breadcrumb__copyright">
    <b> © 2023 </b>
    <a href="https://taikun.cloud/" target="_blank">
      <img src="/static/dashboard/img/taikun-logo.svg">
    </a>
  </div>
</div>
  </div>
 </div>
</div>
{% endblock %}
