{% extends 'base.html' %}
{% load i18n %}
<!--{% block title %}{% trans "Mailing" %}{% endblock %}-->

{% block page_header %}
   {% include "horizon/common/_page_header.html" with title="Mailing" %}
{% endblock page_header %}

{% block main %}
<div class="row">
   <div class="col-sm-12">
      <iframe src="/dashboard/static/vprotect/index.html"
              style="
                     width: 100%;
                     height: calc(100vh - 185px);
      ">
      </iframe>
<!--   {{ tab_group.render }}-->
   </div>
</div>
{% endblock %}
